.main {
  display: block;
  padding: 1rem;
}

h2.header {
  display: block;
}

.cartItems {
  display: block;
  max-height: 560px;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.cartItems::-webkit-scrollbar {
  display: none;
}

.cartItems .cartItem {
  display: flex;
  flex-direction: row;
}

.cartItems .cartItemImg{
  flex: 1 4 auto;
  max-width: 330px;
}

.cartItems .cartItemDescription {
  flex: 4 1 auto;
}

.cartItems .cartItemNamePrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

.cartItems .cartItemNamePrice .name {
  order: 1;
}

.cartItems .cartItemNamePrice .price {
  order: 2;
}

.cartItems .cartItemSwatch {
  display: inline-block
}

.cartItems .cartItemSwatch .color {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100%;
  vertical-align: middle;
  margin: 0 5px 0 0;
  border: 1px solid gray;
}

.cartItems .cartItemSwatch .title {
  display: inline;
  vertical-align: middle;
  font-size: 0.8rem;
}

.cartItems .cartItem .cartQty {
  display: flex;
  outline: 1px solid red;
  justify-content: flex-end;
}

.cartItems .cartItem .cartQty b {
  margin-right: 1rem;
}

.cartItems .delivery {
  display: block;
  text-align: right;
  padding: 1rem 0;
}

.cartItems .delivery b {
  margin-right: 1rem;
}

.cartItems .action {
  display: block;
  text-align: right;
}

.cartItems .action a{
  cursor: pointer;
}

.cartFees {
  display: block;
}

.cartFees .subItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartFees .subItem .title {
  order: 1;
}

.cartFees .subItem .fee {
  order: 2;
}